.student-page {
    .information-system {
        .card-block {
            .wrapper .link {
                overflow: hidden;
                .thumbnail {
                    clip-path: unset;
                }
                .title-bottom {
                    position: absolute;
                    margin-top: 0;
                    padding-top: 1.25em;
                    bottom: -50px;
                    z-index: 2;
                    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
                    .desc {
                        @include text-limit(1, 1.4em);
                        padding-top: 50px
                    }
                }
                &:hover {
                    .title-bottom {
                        bottom: 0;
                        .desc {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}